# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.log
*.ilk
*.recipe
*.ipdb
*.tlog
*.exp
*.iobj
*.idb


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#visualstudio 
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.suo
*.txt
